.card-container {
  height: 444px;
  width: 333px;
  box-shadow: 3px 3px 3px 2.5px #888888;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 8px;
  color: black;
  text-overflow: hidden;
  margin: 5px;
}

.card-container:hover {
  opacity: 0.96;
  box-shadow: 3px 3px 3px 2.5px #f60;
}

.date {
  text-shadow: 0.5px 0.5px 1px gray;
  color: #f60;
}

.image-wrapper {
  height: 44%;
  overflow: hidden;
}

.link-text-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
}

b {
  text-shadow: 0.5px 0.5px gray;
}

a:hover {
  opacity: 0.5;
}

.icon {
  padding: 5px;
  width: 21px;
}
