.ticker-item-container {
  box-shadow: 3px 3px 3px 2.5px #888888;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 8px;
  color: black;
  text-overflow: hidden;
  margin: 5px;
  height: 222px;
  width: 333px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.item {
  justify-self: center;
  overflow: hidden;
}

.ticker {
  text-align: center;
  border: 1px dashed gray;
  border-radius: 5px;
  padding: 5px;
  margin: 0 25%;
  gap: 13px;
  font-weight: 600;
}

.center-text {
  text-align: center;
  padding: 8px;
}

.score {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  width: fit-content;
}

.score-label {
  font-weight: 600;
  display: block;
}

h1 {
 text-align: center;
 padding: 13px 0;
}